@charset "utf-8";
/*css document*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,td,input,select,option,textarea{
	margin:0;
	padding:0;
}
html,body{
	width: 100%;
	/*height: 100%;*/
}
body{
	font-family:"arial";
	background: #fbe1d3 url(../img/loginImg/login-bk.jpg) no-repeat center top;
	position:absolute;
	height: 100%;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
input{
	outline: none;
}
/*header部分*/
#header{
	width: 100%;
	height: 30px;
	background: #f2f2f2;
}
#nav{
	float: right;
	margin-right: 180px;
}
#nav li{
	float: left;
	font-size: 12px;	
	color:#666666;
	line-height: 30px;
	margin-right: 15px;
	width: 65px;
	text-align: center;
}

#nav li:last-child a{
	color: #f52648;
}

#nav li:last-child:hover{
	background: white;
}
#nav li:last-child:hover #lftwo{
	display: block;
	z-index: 100;
}
#icon{
	width:10px;
	height: 8px;
	float: right;
	margin-top: 14px;
	background-image: url(../img/loginImg/icon.png);
	background-position: 291px 0px;
	margin-left: 4px;
}
#phone{
	width:12px;
	height: 16px;
	float: left;
	margin-top: 6px;
	background-image: url(../img/loginImg/icon-base2.png);
	background-position: 570px 387px;
}

#lftwo{
	position: absolute;
	width: 138px;
	background: white;
	text-align: center;
	display: none;
	z-index: 99;
}
#lftwo img{
	width:106px;
	height:106px;
	margin-top: 20px;
}

.customer{
	z-index: 100;
	overflow: hidden;
}
.iphone{
	width:20px;
	height: 20px;
	float: left;
	margin-top: 6px;
	background-image: url(../img/loginImg/icon-base2.png);
	background-position: 576px 356px;
	margin-left: 24px;
	margin-right: 4px;
}
.robit{
	width:20px;
	height: 20px;
	float: left;
	margin-top: 6px;
	background-image: url(../img/loginImg/icon-base2.png);
	background-position: 576px 327px;
}
.customer p{
	float: left;
	margin-left: 6px;
	color: black;
	font-size: 12px;
}
/*logo部分*/
#logo{
	height: 110px;
	background: url(../img/loginImg/logo.png) no-repeat 185px 10px;
}
/*content部分*/
#content{
	height: 100%;
	z-index: 1;
}
#box{
	width:300px;
	height: 620px;
	padding: 0 60px;
	background: #ffffff;
	position:relative;
	left:735px;
	border-radius: 8px;
	z-index: 0;
}
#title{
	width: 100%;
	height: 70px;
}
.titLeft{
	font-size: 22px;
	line-height: 70px;
	letter-spacing: 5px;
	float:left;
}
.titRight{
	height: 70px;
	font-size: 12px;
	float: right;
	line-height: 70px;
	margin-top: 6px;
}
.titRight a{
	color: #02b1cb;
	font-size: 12px;
}
#bot p{
	line-height: 26px;
	color: #666666;
	font-size: 12px;
	margin-top: 26px;
}
.forget{
	float: right;
	color: #02b1cb;
}
input{
	width: 298px;
	height: 32px;
}
#bot .yanZhengMa{
	width: 145px;
}
#bot button{
	display: block;
}
#rig{
	float:right;
	width: 145px;
	height: 41px;
}
#rig #check{
	width: 83px;
	height: 38px;
	border:solid 1px black;
	float: left;
	text-align: center;
	line-height: 38px;
}
#bot #rig a{
	float: right;
	color: #a0a0a0;
	text-decoration: underline;
	font-size: 12px;
	line-height: 19px;
}

#login{
	display: block;
	height: 40px;
	line-height: 32px;
	color: white;
	font-weight: bold;
	background: #de182f;
	margin-top: 37px;
	font-size: 14px;
	text-align: center;
	word-spacing: 8px;
    letter-spacing: 8px;
}
#bot a{
	color: white;
	font-weight: 800;
}
hr{
	margin-top: 20px;
	background-color: #eceae6;
}
#bot p{
	line-height: 50px;
	margin-top: 14px;
	color: #666666;
	font-size: 12px;
}
.login{
	height: 25px;
	line-height: 25px;
}
.login a:first-child{
	float: left;
	line-height: 25px;
	overflow: hidden;
}
.login a:last-child{
	float: right;
	line-height: 25px;
	overflow: hidden;
}
.weixin{
	width:25px;
	height: 25px;
	line-height: 25px;
	background: url("../img/indexImg/login-icon5.jpg") no-repeat -304px -433px;
	float: left;
}
.weibo{
	width:25px;
	height: 25px;
	line-height: 25px;
	background: url("../img/indexImg/login-icon5.jpg") no-repeat -120px -434px;
	float: left;
}
.wx,.wb{
	height: 25px;
}
.wx{
	color: #999999;
	float: left;
	margin-left: 3px;
	line-height: 25px;
}
.wb{
	color: #999999;
	float: left;
	margin-left: 3px;
	line-height: 25px;
}
.foot{
	width: 100%;
	height: 200px;
	background-color: white;
}
.footer_bottom{
	width: 1000px;
	margin: 25px auto 0;
	background-color: white;
	overflow: hidden;
}

.footer_bottom a{
	float: left;
	width: 120px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: black;
	font-size: 12px;
	margin-top: 25px;
}
p{
	color: #999999;
	font-size: 12px;
}
.bit{
	width: 1000px;
	margin: 0 auto;
}
.one{
	height: 32px;
	line-height: 32px;
}
.weight{
	color: #666666;
	line-height: 32px;
}

.bit .copyRight{
	float: left;
	line-height: 32px;
	text-indent: 107px;
}
.fotRight{
	float: left;
	line-height: 32px;
	background: url("../img/indexImg/beian.png") no-repeat 0 5px;
	text-indent: 20px;
	margin-left: 30px;
}
.yingxiao{
	color: #666666;
	line-height: 32px;
	float: left;
}
.own{
	height: 33px;
	line-height: 33px;
}
.name{
	margin: 0 20px 0 192px;
}
.address{
	margin-left: 18px;
}
.footer_imgs{
	width: 650px;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 23px;
}
.footer_imgs a{
	float: left;
	width: 130px;
	height: 30px;
}
.footer_imgs a:nth-child(1){
	background: url("../img/indexImg/icon-base2.png") no-repeat -183px -206px;
}
.footer_imgs a:nth-child(2){
	background: url("../img/indexImg/icon-base2.png") no-repeat -183px -242px;
}
.footer_imgs a:nth-child(3){
	background: url("../img/indexImg/icon-base2.png") no-repeat -183px -277px;
}
.footer_imgs a:nth-child(4){
	background: url("../img/indexImg/icon-base2.png") no-repeat -183px -316px;
}
.footer_imgs a:nth-child(5){
	background: url("../img/indexImg/icon-base2.png") no-repeat -183px -206px;
}
